.sortby-root {
    background-color: rgb(246, 247, 248);
    border-radius: 8px;
    padding-right: 10px;
}

.sortby-root:hover {
    background-color: rgb(236, 238, 240);
}

.sortby-select {
    background-color: transparent;
    padding: 10px 24px 11px 10px;
    border: none;
    font-family: inherit;
    font-size: 14px;
    color: rgb(33, 43, 54);
}

.sortby-select:focus {
    outline: none;
}

.sortby-option {}