.hits-gridview {}

.hits-gridview-list {
  list-style: none;
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  padding: 0px;
  justify-items: stretch;
  align-items: start;
  justify-content: space-evenly;
}

@media (min-width: 0px) {
  .hits-gridview-list {
    grid-template-columns: repeat(2, 180px);
  }
}

@media (min-width: 600px) {
  .hits-gridview-list {
    grid-template-columns: repeat(3, 180px);
  }
}

@media (min-width: 1100px) {
  .hits-gridview-list {
    grid-template-columns: repeat(4, 180px);
  }
}

hits-gridview-list-item {
  justify-self: start;
}